name: BuildAndPublish

on:
  push:
    branches:
      - master

jobs:
  build-and-publish-windows-32-bit:
    runs-on: self-hosted

    steps:
      - uses: actions/checkout@v3

      - name: Login to GitHub Container Registry
        uses: docker/login-action@v1
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Create Tag Date
        run: echo "TAG_DATE=$(date +"%Y%m%d%H%M")" >> $GITHUB_ENV

      - name: Build Docker Image
        run: docker build -t ghcr.io/themeliolabs/windows-32-bit:latest -t "ghcr.io/themeliolabs/windows-32-bit:${TAG_DATE}" windows-32-bit/

      - name: Publish Latest Docker Image
        run: docker push ghcr.io/themeliolabs/windows-32-bit:latest

      - name: Publish Date Tagged Docker Image
        run: docker push "ghcr.io/themeliolabs/windows-32-bit:${TAG_DATE}"

  build-and-publish-wine:
    runs-on: self-hosted

    steps:
      - uses: actions/checkout@v3

      - name: Login to GitHub Container Registry
        uses: docker/login-action@v1
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Create Tag Date
        run: echo "TAG_DATE=$(date +"%Y%m%d%H%M")" >> $GITHUB_ENV

      - name: Build Docker Image
        run: docker build -t ghcr.io/themeliolabs/wine:latest -t "ghcr.io/themeliolabs/wine:${TAG_DATE}" wine/

      - name: Publish Latest Docker Image
        run: docker push ghcr.io/themeliolabs/wine:latest

      - name: Publish Date Tagged Docker Image
        run: docker push "ghcr.io/themeliolabs/wine:${TAG_DATE}"

  build-and-publish-biome:
    runs-on: self-hosted

    steps:
      - uses: actions/checkout@v3

      - name: Login to GitHub Container Registry
        uses: docker/login-action@v1
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Create Tag Date
        run: echo "TAG_DATE=$(date +"%Y%m%d%H%M")" >> $GITHUB_ENV

      - name: Build Docker Image
        run: docker build -t ghcr.io/themeliolabs/biome:latest -t "ghcr.io/themeliolabs/biome:${TAG_DATE}" biome/

      - name: Publish Latest Docker Image
        run: docker push ghcr.io/themeliolabs/biome:latest

      - name: Publish Date Tagged Docker Image
        run: docker push "ghcr.io/themeliolabs/biome:${TAG_DATE}"

  build-and-publish-rust-gtk:
    runs-on: self-hosted

    steps:
      - uses: actions/checkout@v3

      - name: Login to GitHub Container Registry
        uses: docker/login-action@v1
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Create Tag Date
        run: echo "TAG_DATE=$(date +"%Y%m%d%H%M")" >> $GITHUB_ENV

      - name: Build Docker Image
        run: docker build -t ghcr.io/themeliolabs/rust-gtk:latest -t "ghcr.io/themeliolabs/rust-gtk:${TAG_DATE}" rust-gtk/

      - name: Publish Latest Docker Image
        run: docker push ghcr.io/themeliolabs/rust-gtk:latest

      - name: Publish Date Tagged Docker Image
        run: docker push "ghcr.io/themeliolabs/rust-gtk:${TAG_DATE}"