name: Build

on:
  pull_request:
    branches:
      - master

jobs:
  build-windows-32-bit:
    runs-on: self-hosted

    steps:
      - uses: actions/checkout@v3

      - name: Login to GitHub Container Registry
        uses: docker/login-action@v1
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Create Tag Date
        run: echo "TAG_DATE=$(date +"%Y%m%d%H%M")" >> $GITHUB_ENV

      - name: Build Docker Image
        run: docker build -t "ghcr.io/themeliolabs/windows-32-bit:${TAG_DATE}" windows-32-bit/

#  build-wine:
#    runs-on: self-hosted
#
#    steps:
#      - uses: actions/checkout@v3
#
#      - name: Login to GitHub Container Registry
#        uses: docker/login-action@v1
#        with:
#          registry: ghcr.io
#          username: ${{ github.actor }}
#          password: ${{ secrets.GITHUB_TOKEN }}
#
#      - name: Build Docker Image
#        run: docker build -t ghcr.io/themeliolabs/wine:latest wine/
#
#  build-biome:
#    runs-on: self-hosted
#
#    steps:
#      - uses: actions/checkout@v3
#
#      - name: Login to GitHub Container Registry
#        uses: docker/login-action@v1
#        with:
#          registry: ghcr.io
#          username: ${{ github.actor }}
#          password: ${{ secrets.GITHUB_TOKEN }}
#
#      - name: Build Docker Image
#        run: docker build -t ghcr.io/themeliolabs/biome:latest biome/